.header {
    margin-top: 100px;
}

.headerTitles {
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: 'Varela', sans-serif;
    color: tomato; 
}

.headerTitleSm {
    position: absolute; 
    top: 10%;
    font-size: 20px;
}

.headerTitleLg {
   position: absolute;
   top: 14%;
   font-size: 100px;
}
.headerImg {
    width: 100%; 
    height: 800px;
    margin-top: 8px;
    object-fit: cover;
}